.custom-card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.751);
    transition: transform 0.3s ease-in-out;
    animation: floating 3s infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1cm);
    }

    100% {
        transform: translateY(0);
    }
}