
.section-carrusel {
    background-color: #FFC107; /* Color para la sección del carrusel */
  }
  
  .section-contacto {
    background-color: #2196F3; /* Color para la sección de contacto */
  }
  
  .section-footer {
    background-color: #4CAF50; /* Color para la sección del footer */
  }
  