.section-carrusel {
  color: aliceblue;
  background: #2f257d;
  width: 100vw;
  max-height: 93vh;
}

.section-contacto {
  /* ffde33 */
  background: #ffbb00;
  width: 100vw;
  max-height: 100vh;
}

.section-footer {
  /*1C2B3B */
  background: #141023;
  width: 100vw;
  max-height: 100vh;
}

.section-devs {
  background: #141023;
  color: #fff;
  padding: 0;
  width: 100vw;
  max-height: 20vh;
  text-align: center;
  justify-content: center;
}