.section-carrusel {
  color: aliceblue;
  background: #2f257d;
  width: 100vw;
  max-height: 93vh;
}

.section-contacto {
  background: #ffde33;
  width: 100vw;
  max-height: 100vh;
}

.section-footer {
  /*1C2B3B */
  background: #141023;
  width: 100vw;
  max-height: 100vh;
}