.contact-container {
    background: #fff;
    color: #000;
    height: 90vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.contacttitle{
    
    font-size: 28px;
    font-weight: 700;
}

.contacttext{
    font-size: 18px;
    font-weight: 500;
}

.contacticon-footer {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.contactcolc {
    height: 150px;
    max-height: 200px;
}

.contactpurple-link {
    color: #ee00aa;
}

.-contactpurple-link:hover {
    color: darkviolet;
    /* Cambia el color al pasar el ratón por encima */
}