.cardC-container {
    padding: 20px;
    align-items: center;
}

.custom-cardC {
    height: 450px;
    width: 400px;
    border-radius: 5px;
    background-image: url("https://papers.co/wallpaper/papers.co-sb85-purple-sunshine-blur-35-3840x2160-4k-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
}

.single-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}